<h2>Services Provided....</h2>
        <hr>
        <a href="account.html">
            <div class="polaroid">
                    <img src="assets/img/account.png" alt="Account">
                    <div class="container">
                    <p>Account</p>
                    </div>
            </div>
        </a>
        <a href="loan.html">
                <div class="polaroid">
                        <img src="assets/img/loan.jpg" alt="Loan">
                        <div class="container">
                        <p>Loan</p>
                        </div>
                </div>
        </a>

        <a href="deposit.html">
                <div class="polaroid">
                        <img src="assets/img/deposit.jpg" alt="Deposit">
                        <div class="container">
                        <p>Deposit</p>
                        </div>
                </div>
        </a>

        <a href="cards.html">
                <div class="polaroid">
                        <img src="assets/img/cards.jpg" alt="Cards">
                        <div class="container">
                        <p>Cards</p>
                        </div>
                </div>
        </a>
